/*** common ***************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}
h1 {
  font-size: 2em;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.bullet {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #47333b;
  margin: 0.75em auto 0.75em auto;
}

.left-bullet {
  display: inline-block;
  width: 4px;
  height: 16px;
  background-color: mediumaquamarine;
  margin-right: 8px;
}

.num {
  color: #fe4a49;
}

.title {
  text-align: center;
  margin: 3em;
}
/*** home ***************/
.home-wrapper {
  position: relative;
  height: 100vh;
  background-image: url('../img/main_.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.95;
}
.home-wrapper .logo {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: bold;
}
/*** navi ***************/
.navi-wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  color: white;
  opacity: 0.75;
  z-index: 9999999;
}
.active {
  background-color: white;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.navi-wrapper .navi {
  padding: 1.5em;
  font-size: 1em;
  cursor: pointer;
}
.navi-wrapper .navi .fa {
  line-height: 0;
}
.navi-wrapper .navi:hover {
  background-color: #bab2b5;
}
.navi-wrapper.active .navi:hover {
  background-color: #bab2b5;
  cursor: pointer;
}
.navi-wrapper .icon-wrapper {
  margin-left: auto;
}
/*** about ***************/
/* 
.about-wrapper {
  margin: auto;
  width: 100%;
  padding: 2em;
  background-color: #f4f9f9;
}
.about {
  display: flex;
  vertical-align: center;
  align-items: center;
}
.about .selfi {
  width: 50%;
}
.about .me {
  margin-left: 0.5em;
  width: 50%;
  padding: 1.5em;
  border: 1px solid slateblue;
}

.about .me .info {
  display: flex;
  flex-direction: column;
}
.about .me .info i {
  margin-bottom: 1.5em;
}
.about .me .summary {
  About me 설명란
}
.about .me .summary p {
  font-size: 1.5em;
}
*/
ion-icon {
  color: red;
}
/*** skill ***************/
.skill-wrapper {
  background-color: #f4f9f9;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}
.skill-wrapper .front {
  width: 48%;
  margin: 1em;
  padding: 1.5em;
}
.skill-wrapper .back {
  width: 48%;
  margin: 1em;
  padding: 1.5em;
}
.skill-wrapper .skills {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around;
}
.skill-wrapper .skill {
  border: 1px solid #98ddca;
  display: flex;
  align-items: center;
  margin: 2%;
  padding: 0.5em;
  width: 46%;
}
.skill-wrapper .name {
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.skill-wrapper h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.skill-wrapper .front .img {
  width: 60px;
}
.skill-wrapper .back .img {
  width: 60px;
}

/*** Project ***************/
.project-wrapper {
  margin: auto;
  width: 100%;
  padding: 2em;
}
.project-wrapper .project {
  background-color: #f1f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 1em;
}

.prj-content {
  border: 1px solid #dedede;
  /* background-color: #f4f9f9; */
  padding: 3em;
  width: 48%;
  margin: 1%;
}

.p-title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #626262;
}
.content {
  padding: 1em;
  min-height: 180px;
}

.prj-content .content p {
  line-height: 1.5em;
  font-size: 1.15em;
  margin-bottom: 1em;
  color: #a3a3a3;
}

.go-view {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  text-align: center;
}

.go-view .go {
  border: 1.5px solid #fe4a49;
  padding: 1.5em 2em;
  cursor: pointer;
}
.go-view .go:hover {
  background-color: #fe4a49;
  color: white;
  transition: all 0.3s ease-in-out;
}
/*** Footer *****************/
.footer-wrapper {
  background-color: black;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-wrapper .contact-wrap {
  text-align: left;
  padding: 5em;
  display: flex;
  align-items: center;
  margin: auto;
  color: white;
}

.contact-wrap i {
  display: inline-block;
}
.contact {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#btTop {
  padding: 1em;
  position: fixed;
  top: 80%;
  right: 0;
  color: #fe4a49;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}
#btTop:hover {
  background-color: #dedede;
  transition: all 0.3s ease-in-out;
}
